* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
}
 /* КОНТЕЙНЕР!!!! СБРОС СТИЛЕЙ!!!*/

.header {
  background-image: url(images/main1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 130px;
}

.title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.header-content {
  margin-top: 62px;
  max-width: 542px;
}

.header__title {
  font-size: 60px;
}

.header__text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
}

.spacing {
  display: flex;
  justify-content: center;
}

.buttons-wrapper {
  margin-top: 40px;
  display: flex;
column-gap: 16px;
}

.button {
  padding: 20px 49px;
  font-size: 16px;
  border: 2px solid #1f1f1f;
  border-radius: 66px;
  text-align: center;
  width: 263px;
  line-height: 130%;
  transition: all .3s ease; 
}

.button:hover {
  background-color: #1f1f1f;
  color: #FFF;
}

.button--black {
  color: #FFF;
  background-color: #1f1f1f;
}

.button--black:hover {
  color: #1f1f1f;
  background-color: #FBCE51;
  border-color: #FBCE51;
}

.running-text-wrapper {
  padding: 18px 0;
  background-color: #F54932;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.running-text {
  font-family: "Merriweather", serif;
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
 /* animation: animMarqueeRtl 10s linear infinite; */
}

@-webkit-keyframes animMarqueeRtl {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes animMarqueeRtl {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.running-text > span {
  background-image: url(images/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 12px;
  color: #F54932;
}

.lection-wrapper {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
}

.third-title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 135%;
}

.session-wrapper {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
}

.session-wrapper__image {
  width: 474px;
  height: 527px;
}

.red-text {
  color: #F54932;
}

.table {
  font-size: 20px;
  margin-top: 60px;
  border-collapse: collapse;
  border: 2px solid white;
  width: 100%;
}

th {
  padding: 16px;
  text-align: left;
  border: 2px solid #D0D0D0;
}

td {
  padding: 16px 16px 16px 0;
  text-align: left;
  border: 2px solid #D0D0D0;
}

.session-wrapper__text {
  margin-top: 48px;
  font-size: 20px;
  color: #3057A2;
}


.stages {
  margin-top: 200px;
}

.stages__title {
  font-size: 56px;
  position: relative;
}

.stages__subtitle {
  font-size: 20px;
  color: #3057A2;
  text-transform: none;
  font-family: "Golos Text", sans-serif;
  position: absolute;
}

.stages__wrapper {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  position: relative;
}

.stages__wrapper__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.stages-item {
  background-image: url(images/paperbg.png);
  padding: 20px;
  display: flex;
  column-gap: 16px;
  font-size: 20px;
}

.stages-item__text {
  line-height: 120%;
}
.members {
  margin-top: 200px;
}

.members__top-content {
  display: flex;
  justify-content: space-between;
}

.members__title {
  font-size: 54px;
}

.members__wrapper {
  margin-top: 60px;
  display: flex;
  overflow: hidden;
  column-gap: 20px;
  margin-bottom: 120px;
}

.member-card {
  display: flex;
  flex-direction: column;
  padding: 0 37px;
}

.member-card__content {
  text-align: center;
  margin-top: 28px;
  font-size: 20px;
}

.member-card__title {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
}

.member-card__text {
  margin-top: 6px;
}

.member-card__button {
  margin-top: 20px;
  font-size: 16px;
  line-height: 120%;
  color: #3057A2;
  border: 1px solid #3057A2;
  border-radius: 62px;
  background-color: transparent;
  padding: 12px;
  transition: .3s ease;
  cursor: pointer;
}

.member-card__button:hover {
  background-color: #3057A2;
  color: #FFF;
}

.footer {
  background-color: #E9DED4;
}

.footer .container {
  padding: 40px 72px 72px 72px;
}

.footer__text {
  color: #31313160;
  
}